body {
  background: linear-gradient(90deg, #1cb5e0 10%, #421eb9 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 480px;
  height: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 3px 59px 19px rgba(232, 0, 255, 0.75);
  -webkit-box-shadow: 1px 3px 59px 19px rgba(232, 0, 255, 0.75);
  -moz-box-shadow: 1px 3px 59px 19px rgba(232, 0, 255, 0.75);
}
.header2 {
  width: 480px;
  height: 193px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 3px 59px 19px rgba(232, 0, 255, 0.75);
  -webkit-box-shadow: 1px 3px 59px 19px rgba(232, 0, 255, 0.75);
  -moz-box-shadow: 1px 3px 59px 19px rgba(232, 0, 255, 0.75);
}
.logo {
  width: 80px;
  height: 80px;
  padding-left: 32px;
  padding-top: 32px;
}
.text {
  font-size: 24px;
  font-weight: 600;
  color: black;
  padding-left: 32px;
}
.text2 {
  font-weight: 400;
  font-size: 18px;
  color: #8e8e8e;
  padding-left: 32px;
}
.text3 {
  font-weight: 600;
  font-size: 14px;
  color: #334155;
}
.input {
  width: 416px;
  height: 44px;
  color: black;
  font-size: 15px;
  border-radius: 8px;
  padding-left: 20px;
  border: 1px solid rgb(9, 4, 4);
}

.flex {
  display: flex;
  flex-direction: column;

  padding-left: 32px;
}
.button {
  width: 416px;
  height: 44px;
  background-color: black;
  border-radius: 6px;
  cursor: pointer;
color: white;
}
.seperate {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 28px;
}
.stepthree {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.image {
  width: 416px;
  height: 180px;
  color: black;
  background-color: #7f7f800d;
  border: none;
  border-radius: 8px;
  padding: 15px;
  object-fit: cover;
}
.backbtn {
  width: 128px;
  height: 44px;
  border: 1px solid #cbd5e1;
  color: black;
  border-radius: 8px;
}
.step-container {
  transition: all 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.fade-out-left {
  opacity: 0;
  transform: translateX(-200px);
}

.fade-out-right {
  opacity: 0;
  transform: translateX(500px);
}
.preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  padding-top: 0;
  position: relative;
  z-index: 2;
  display: block;
}
.removebtn {
  width: 24px;
  height: 24px;
  background-color: #202124;
  color: white;
  border-radius: 100%;
  z-index: 3;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}
